body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.space {
    font-size: bold;
    font-style: italic;
    font-family: "Press Start 2P";
}
body {
    background-image: url('./Spacephotos/space.png'); /* Replace with your image path */
    background-size: cover; /* This ensures the background covers the entire div */
    background-repeat: no-repeat;
    background-size: 100%;
}

#boardSpace {
    background-color: rgb(26, 25, 25);
    border-radius: 5px;
}   
